ImdbSOAPWebService/WebContent/ImdbSoapServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.imdb.example.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ImdbSoapServiceService" targetNamespace="http://soap.imdb.example.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.imdb.example.com/" elementFormDefault="unqualified" targetNamespace="http://soap.imdb.example.com/" version="1.0">

  <xs:element name="search" type="tns:search"/>

  <xs:element name="searchResponse" type="tns:searchResponse"/>

  <xs:complexType name="search">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:criteriaBean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="criteriaBean">
    <xs:sequence>
      <xs:element name="director" type="xs:int"/>
      <xs:element name="directorSelected" type="xs:boolean"/>
      <xs:element name="fromYear" type="xs:int"/>
      <xs:element name="genre" type="xs:int"/>
      <xs:element name="genreSelected" type="xs:boolean"/>
      <xs:element name="toYear" type="xs:int"/>
      <xs:element name="yearRangeSelected" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:movie"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="movie">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="directors" nillable="true" type="tns:director"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="genres" nillable="true" type="tns:genre"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="imdb" type="xs:string"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element name="year" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="director">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="imdb" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="genre">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="searchResponse">
    <wsdl:part element="tns:searchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part element="tns:search" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ImdbSoapService">
    <wsdl:operation name="search">
      <wsdl:input message="tns:search" name="search">
    </wsdl:input>
      <wsdl:output message="tns:searchResponse" name="searchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImdbSoapServiceServiceSoapBinding" type="tns:ImdbSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="search">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImdbSoapServiceService">
    <wsdl:port binding="tns:ImdbSoapServiceServiceSoapBinding" name="ImdbSoapServicePort">
      <soap:address location="http://localhost:8080/ImdbSOAPWebService/ImdbSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>